.header-navbar{
	background:#41773C;
	text-align:left;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:999;
	box-shadow:1px 1px 8px 2px rgba(0,0,0,0.75);
}

.header-navbar > *,
.header-navbar .page-title{
	font-family: 'Satisfy';
}

.header-navbar .page-title{
	display:inline-block;
	font-size:24px;
	cursor:pointer;
	color:#ffd683;
	background: -webkit-linear-gradient(-5deg, rgba(92, 92, 92, 0.27) 0%, rgba(0, 0, 0, 0.54) 100%);
	background:    -moz-linear-gradient(-5deg, rgba(92, 92, 92, 0.27) 0%, rgba(0, 0, 0, 0.54) 100%);
	background:      -o-linear-gradient(-5deg, rgba(92, 92, 92, 0.27) 0%, rgba(0, 0, 0, 0.54) 100%);
	background:         linear-gradient(-5deg, rgba(92, 92, 92, 0.27) 0%, rgba(0, 0, 0, 0.54) 100%);
	margin:5px;
	padding:2px 15px;
	border:1px solid rgb(104, 165, 98);
	position:relative;
	
	transition:filter 1s;
}

.header-navbar .page-title:hover{
	filter:saturate( 2.5 ) brightness( 1.4 );
}

.header-navbar .page-title hr{
	width:125px;
	position:absolute;
	bottom:-14px;
	left:0;
	right:0;
	border-color:rgba(255,255,255,0.4);
}

.header-navbar .option{
	display:inline-block;
	cursor:pointer;
	background:rgba(0,0,0,0.1);
	padding:11px;
	color:#fff;
	font-size:18px;
	width:100px;
	text-align:center;
	margin:0 10px;
	border:1px solid rgba(255, 255, 255, 0.25);
	border-top:0;
	border-bottom:0;
	position:relative;
}

.header-navbar .option:hover{
	background:rgba(0,0,0,0.4);
}

.header-navbar .option hr{
	width:15px;
	position:absolute;
	bottom:-8px;
	left:0;
	right:0;
	border-color:rgba(255,255,255,0.4);
}

.header-navbar .option .dropdown-options{
	position:absolute;
	background:#598a54;
	width:150px;
	left:0;
	top:47px;
	display:none;
}

.header-navbar .option:hover .dropdown-options{
	display:block;
}

.header-navbar .option .dropdown-options .dropdown-option{
	font-size:12px;
	font-style:italic;
	text-align:left;
	padding:5px 10px;
	margin:5px 0;
	background:rgba(0,0,0,0.25);
	color:#d9ffd6;
}

.header-navbar .option .dropdown-options .dropdown-option:hover{
	background:rgba(0,0,0,0.4);
}

.header-navbar .option .dropdown-options .dropdown-option .num-recipes{
	float:right;
	background:rgba(0,0,0,0.3);
	border:1px solid rgba(255,255,255,0.4);
	border-radius:100px;
	width:30px;
	text-align:center;
	margin-top:-1px;
	font-size:12px;
	font-style:normal;
	color:rgba(255,255,255,0.85);
}

@media (max-width: 700px){
	.header-navbar .option{
		display:none;
	}
}