.container.recipe{
	width:90%;
	max-width:750px;
	padding-bottom:20px;
}

.container.recipe .item .title{
	font-size:14px;
}

td.ingredients{
	background:#4a4511;
	color:#EFE79A;
	padding:10px 20px;
	text-align:left;
}

.ingredient-group-label{
	font-size:10px;
	font-style:italic;
	color:rgb(150, 156, 89);
	margin-top:2px;
}

.ingredient-group-label hr{
	margin:1px 0 2px;
	border-color:rgba(255,255,255,0.1);
	width:95%;
}

.recipe-section-title{
	width:100%;
	margin-top:3px;
	font-size:20px;
	text-align:center;
	color:#E6DF9B;
}

.recipe-section-title .copy-button{
	display:inline-block;
	font-size:12px;
	background:rgba(0,0,0,0.4);
	padding:2px 10px;
	font-family:'Lato', Helvetica;
	border-radius:100px;
	border:1px solid rgba(255, 255, 255, 0.4);
	margin-left:3px;
	cursor:pointer;
}

.recipe-section-title .copy-button:hover{
	background:#686117;
}

.recipe-section-title hr{
	width:30%;
	border-color:rgba(255,255,255,0.2);
	margin:10px auto 15px;
}

td.ingredients .ingredient{
	display:inline-block;
	width:100%;
	font-size:12px;
	text-align:left;
	padding:0 5px;
	margin-bottom:2px;
}

td.ingredients .ingredient .bullet{
	margin:0 5px;
}

td.ingredients .ingredient hr{
	width:70%;
	border-color:rgba(255,255,255,0.1);
	margin:5px auto;
}

td.ingredients .ingredient .ingredient-text{
	width:100%;
	display:inline-block;
	padding:3px 0;
	cursor:pointer;
}

td.ingredients .ingredient .alternate-units{
	font-size:10px;
	opacity:0.7;
}

td.steps .step:hover,
td.ingredients .ingredient .ingredient-text:hover{
	color:#FBFF49;
	background:rgba(255,255,255,0.1);
}

td.steps .step.completed,
td.ingredients .ingredient.completed .ingredient-text{
	opacity:0.3;
	text-decoration:line-through;
	background:#000;
}

td.steps .step.completed:hover
td.ingredients .ingredient.completed .ingredient-text:hover{
	opacity:0.5;
}

td.steps .step .action,
td.ingredients .ingredient .ingredient-text .ingredient-name{
	color:#F9ED73;
	background:rgba(0, 0, 0, 0.2);
	padding:0 5px;
	margin:0 1px;
	border:1px solid rgba(255,255,255,0.2);
	border-radius:5px;
	white-space:nowrap;
}

td.ingredients .ingredient .ingredient-text .ingredient-name.spicy{
	color:#ff8989;
}

td.ingredients .ingredient .ingredient-text .prep-time{
	display:inline-block;
	font-size:10px;
	padding:2px;
	border-radius:10px;
	width:40px;
	font-family:'Lato', Helvetica;
	text-align:center;
	margin-left:5px;
}

td.steps{
	text-align:left;
	background:#353005;
	padding-top:10px;
	padding-bottom:15px;
}

td.steps > hr{
	width:15%;
	margin:5px 0;
	margin-left:4%;
	border-color:rgba(255, 255, 255, 0.1);
}

td.steps .step{
	padding:5px 15px;
	color:#EDEF94;
	line-height:2;
	font-size:14px;
	cursor:pointer;
}

td.steps .prep-time,
td.steps .cook-time{
	display:inline-block;
	font-size:10px;
	border-radius:100px;
	width:45px;
	font-family:'Lato', Helvetica;
	text-align:center;
	margin-right:10px;
	line-height:1.8;
}

td.steps .number{
	background-color:rgba(0, 0, 0, 0.5);
	border-radius:100px;
	padding:4px 10px;
	margin:0 10px;
	font-size:12px;
}

td.completed{
	background:#776d1d;
}

.recipe .item .info-label.servings,
.recipe .item .time-label{
	top:135px;
	bottom:auto;
}

.recipe .item .time-label.prep-time{
	top:110px;
	bottom:auto;
}

.recipe .item .cuisine-icon{
	top:45px;
	bottom:auto;
}

@media (max-width: 400px){
	td.ingredients .ingredient{
		width:100%;
	}	
}